@font-face {
	font-family: 'minimal-mono-regular';
	src: url('minimal-mono-regular.otf') format('opentype');
  }

body {
	font-family: 'minimal-mono-regular', sans-serif;
	opacity: 1;
	background-size: 32px 32px;
	background-position: 0 0,12px 12px;
	overflow-x: auto;
	overflow-y: scroll;
}

h1 {
	margin: 1em 0 1.5em 1em;
  	padding: 0.7em 1em 0.3em 0.3em;
	background-color: khaki;
}

.container {
	display: flex;
	flex-flow: row nowrap;
	margin: 2em;
}

.column {
	display: flex;
	flex-flow: column nowrap;
	margin-right: 2em;
}

.item {
	display: flex;
	position: relative;
	height: 1em;
	align-items: center;
	padding: 1em;
	padding-top: 1.4em;
	margin-bottom: 3em;
	cursor: pointer;

	width: 1.7em;
	background: darkseagreen;
	clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 25% 50%, 0 0);
}

.column:nth-child(2) .item:not(.marked):not(.void) {
	clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0 0);
}

#head-column .item {
	width: auto;
	min-width: max-content;
	font-weight: bold;
	color: white;
	border-radius: 0px;
	clip-path: none;
}

.void {
	clip-path: polygon(0 49%, 100% 49%, 100% 51%, 0 51%);
}

.marked {
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.template {
	display: none;
}

.column div:nth-child(6n+1) {
	background-color: #1a3a46;
}
.column div:nth-child(6n+2) {
	background-color: #386857;
}
.column div:nth-child(6n+3) {
	background-color: #738564;
}
.column div:nth-child(6n+4) {
	background-color: #e89d56;
}
.column div:nth-child(6n+5) {
	background-color: #CD541D;
}
.column div:nth-child(6n) {
	background-color: #922637;
}

.item-counter {
	visibility: hidden;
}

.item-counter:not(.counter-zero) {
	visibility: visible;
	font-size: smaller;
	margin-left: auto;
	margin-bottom: 0.2em;
	height: 100%;
	padding: 0.4em 0.3em 0 0.3em;
	background-color: rgba(255, 255, 255, 0.3);
}

.zoom {
	font-size: smaller;
	margin-left: 1em;
	padding: 0.4em 0.3em 0 0.3em;
	background-color: #42555C;
	color: #B8ECFF;
}

#toasts {
	position: fixed;
	box-sizing: border-box;
	top: 3em;
	right: 3em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.toast {
	min-width: 10%;
	background-color: rgba(0,0,0,0.75);
	color: white;
	font-weight: bold;
	padding: 1em;

	animation-duration: 4s;
	animation-name: toast-animation;
  	animation-fill-mode: forwards;
}
.toast.encue {
	border-bottom: 4px solid rgb(174, 0, 0);
}
.toast.decue {
	border-bottom: 4px solid rgb(133, 174, 0);
}
@keyframes toast-animation {
	0% { opacity: 1.0; }
	80% { opacity: 0.7; }
	100% { opacity: 0.0; }
  }